table .hide-x{
    display: none !important;
}

.alert-inverse {
    background-color: #c43e72;
    border-color: transparent;
    color: #fff;
}

.alert-inverse .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: #fff;
    text-shadow: none;
}

.clock {
    position: absolute;
    top: 48%;
    right: 60%;
    transform: translateX(-50%) translateY(-50%);
    color: gray;
    font-size: 16px;
    font-family: Orbitron;
    letter-spacing: 2px;
}

.versionphp {
    position: absolute;
    top: 40%;
    right: 10%;
}

/*.crear {
    position: absolute;
    top: 120%;
    right: 40%;
}
*/
.dataTables_scrollBody{
    
}

div.dataTables_wrapper {
/*        color :red;*/
}

.modal-content #btn-eventos{
    display: none !important;   
}

.error{
    color:#ff8888;
}



.noty_theme__mint.noty_bar .noty_body {
  padding: 1.25em;
  font-size: 13px;
}
.noty_theme__mint.noty_bar .noty_buttons {
  padding: 0 10px 0.5em 10px;
}
.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  color: #495057;
  background-color: rgba(255, 255, 255, 0.9);
}
.noty_theme__mint.noty_type__warning {
  color: #495057;
  background-color: rgba(255, 208, 98, 0.9);
}
.noty_theme__mint.noty_type__error {
  color: #fff;
  background-color: rgba(240, 90, 92, 0.9);
}
.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  color: #fff;
  background-color: rgba(25, 174, 198, 0.9);
}
.noty_theme__mint.noty_type__success {
  color: #fff;
  background-color: rgba(76, 192, 101, 0.9);
}

.fileuploader {
    width: 160px;
    height: 160px;
    margin: 15px;
}

.fileuploader-theme-dropin{
    text-align: center !important;
}