:root {
	--body-bg-rgb : 									249, 251, 251;
	--primary-rgb: 										56, 202, 179;
	--secondary-rgb :									247, 79, 117;
	--warning-rgb :										255, 189, 90;
	--info-rgb :										78, 194, 240;
	// --success-rgb :										36, 213, 184; 
	--success-rgb :										26, 175, 172; 
	--danger-rgb :										243, 67, 67;
	// --light-rgb :										249, 249, 251;
	--light-rgb :										240, 240, 248;
	--dark-rgb :										59, 72, 99;
	--orange-rgb : 										253, 126, 20;
	--pink-rgb :                                       	247, 84, 250;
	--teal-rgb : 										41, 221, 238;
	--purple-rgb : 										173, 79, 250;
	--default-body-bg-color:							rgb(var(--body-bg-rgb));		
	--primary-color:	 								rgb(var(--primary-rgb));
	--primary-border: 									rgb(var(--primary-rgb));
	--primary01: 										rgba(var(--primary-rgb), 0.1);
	--primary02: 										rgba(var(--primary-rgb), 0.2);
	--primary03: 										rgba(var(--primary-rgb), 0.3);
	--primary04: 										rgba(var(--primary-rgb), 0.4);
	--primary05: 										rgba(var(--primary-rgb), 0.5);
	--primary06: 										rgba(var(--primary-rgb), 0.6);
	--primary07: 										rgba(var(--primary-rgb), 0.7);
	--primary08: 										rgba(var(--primary-rgb), 0.8);
	--primary09: 										rgba(var(--primary-rgb), 0.9);
	--primary005: 										rgba(var(--primary-rgb), 0.05);
	--default-font-family:    							'Poppins', sans-serif;
	--default-font-weight:								400;
	--default-text-color:       						#333335;	
	--default-border:									#ededf5;
	--default-background: 								#f7f8f9;		
	--menu-bg:											#fff;	
	--menu-prime-color:									#7b8191;
	--menu-border-color:								#f3f3f3;
	--menu-label-color:									#4a4a69;
	--header-bg:                                        #fff;
	--header-prime-color:								#7b8191;
	--header-border-color:								#f3f3f3;
	--custom-white:										#fff;
	--custom-black:										#000;
	--bootstrap-card-border:							#f3f3f3;
	--list-hover-focus-bg:								#f5f6f7;
	--text-muted: 										#7987a1;
	--light-muted: 										#7987a1;
	--input-border: 									#ededf5;
	--form-control-bg: 									#ffffff;

	/* Gray set */
	--gray-1:											#f9fafb;
	--gray-2:											#f0f0f8;
	--gray-3:											#e1e1ef;
	--gray-4:											#d6d6e6;
	--gray-5:											#949eb7;
	--gray-6:											#7987a1;
	--gray-7:											#4d5875;
	--gray-8:											#383853;
	--gray-9:											#323251;

	/* White set */
	--white-1:											rgba(255,255,255, 0.1);
	--white-2:											rgba(255,255,255, 0.2);
	--white-3:											rgba(255,255,255, 0.3);
	--white-4:											rgba(255,255,255, 0.4);
	--white-5:											rgba(255,255,255, 0.5);
	--white-6:											rgba(255,255,255, 0.6);
	--white-7:											rgba(255,255,255, 0.7);
	--white-8:											rgba(255,255,255, 0.8);
	--white-9:											rgba(255,255,255, 0.9);
	
	/* Black set */
	--black-1:											rgba(0,0,0, 0.1);
	--black-2:											rgba(0,0,0, 0.2);
	--black-3:											rgba(0,0,0, 0.3);
	--black-4:											rgba(0,0,0, 0.4);
	--black-5:											rgba(0,0,0, 0.5);
	--black-6:											rgba(0,0,0, 0.6);
	--black-7:											rgba(0,0,0, 0.7);
	--black-8:											rgba(0,0,0, 0.8);
	--black-9:											rgba(0,0,0, 0.9);
}


/*Font Family*/
$default-font-family:									var(--default-font-family);

/*Font Size*/
$default-font-size:										0.813rem;

/*Font Weight*/
$default-font-weight:									var(--default-font-weight);

/*Body & Text colors*/
$default-body-color: 									var(--default-body-bg-color);
$default-text-color:									var(--default-text-color);

/*Default Background Color*/
$default-background: 									var(--default-background);

/*Border Color*/
$default-border:										var(--default-border);

/*Border Radius*/
$default-radius:										0.4rem;

/*Box Shadow*/ 
// $box-shadow: 											0 4px 4px rgba(169, 184, 200, 0.15);
$box-shadow: 											1px 1px 7px rgba(154, 154, 204, 0.1);

/* Header Variables */
$header-bg:												var(--header-bg);
$header-prime-color:									var(--header-prime-color);
$header-border-color:									var(--header-border-color);

/*Menu Variables*/
$menu-prime-color: 										var(--menu-prime-color);
$menu-bg:												var(--menu-bg);
$menu-border-color:										var(--menu-border-color);
$menu-label-color:										var(--menu-label-color);


/*Color Variables*/
$primary:												var(--primary-color);
$primary-border:										var(--primary-border);
$primary-transparent:									var(--primary-transparent-color);
$primary-01:											var(--primary01);
$primary-02:											var(--primary02);
$primary-03:											var(--primary03);
$primary-04:											var(--primary04);
$primary-05:											var(--primary05);
$primary-06:											var(--primary06);
$primary-07:											var(--primary07);
$primary-08:											var(--primary08);
$primary-09:											var(--primary09);
$primary-005:											var(--primary005);
$custom-white:											var(--custom-white);
$custom-black:											var(--custom-black);
$secondary:												rgb(var(--secondary-rgb));
$warning:												rgb(var(--warning-rgb));
$info:													rgb(var(--info-rgb));
$success:												rgb(var(--success-rgb));
$danger:												rgb(var(--danger-rgb));
$light:													rgb(var(--light-rgb));
$dark:													rgb(var(--dark-rgb));
$orange:												rgb(var(--orange-rgb));
$pink:													rgb(var(--pink-rgb));
$purple:												rgb(var(--purple-rgb));
$teal:													rgb(var(--teal-rgb));
$red:                                                   #d03d46;
$blue:													#2b3e65;
$green:													#1dd871;
$cyan:													#00D1D1;
$indigo:												#4d5ddb;
$white:													#fff;
$gray:													#8699A3;
$black:													#000;
$yellow:												#ffc102;
$text-muted:											var(--text-muted);
$light-muted:											var(--light-muted);
$bootstrap-card-border:									var(--bootstrap-card-border);
$list-hover-focus-bg:									var(--list-hover-focus-bg);
$input-border: 											var(--input-border);
$form-control-bg:										var(--form-control-bg);
$primary-transparent:									#f5faf8;

/* social icons colors */
$facebook: 												#3b5998;
$twitter: 												#00acee;
$github:												#333;
$google: 												#CF4E43;
$youtube: 												#FF0000;

/*gradient variables*/
$primary-gradient:										linear-gradient(to right, $primary 0%, var(--primary05) 100%) ; 
$secondary-gradient:									linear-gradient(to right, #f74f75 0%, rgba(247, 79, 117, 0.5) 100%);
$success-gradient:										linear-gradient(to right,#24d5b8 0%, rgba(36, 213, 184, 0.5) 100%);
$warning-gradient:										linear-gradient(to right, #ffbd5a 0%, rgba(255, 189, 90, 0.5) 100%);
$pink-gradient:											linear-gradient(to right, #f754fa 0%, #f36eae 100%) ;
$teal-gradient:											linear-gradient(to right, #29ddee 0%, #96e8e8 100%);
$danger-gradient:										linear-gradient(to right, #f34343 0%, rgba(243, 67, 67, 0.5) 100%);
$info-gradient:											linear-gradient(to right, #4ec2f0 0%, rgba(78, 194, 240, 0.5) 100%);
$orange-gradient:										linear-gradient(to right,$orange 0%,#9BA815 100%);
$purple-gradient:										linear-gradient(to right, #ad4ffa 0%, #884af1 100%);
$light-gradient:										linear-gradient(to right, $light 0%, #D1D6DE 100%);
$dark-gradient:											linear-gradient(to right, $dark 0%, #54505D 100%);

/*gray set*/
$gray-1:												var(--gray-1);
$gray-2:												var(--gray-2);
$gray-3:												var(--gray-3);
$gray-4:												var(--gray-4);
$gray-5:												var(--gray-5);
$gray-6:												var(--gray-6);
$gray-7:												var(--gray-7);
$gray-8:												var(--gray-8);
$gray-9:												var(--gray-9);

/*white set*/
$white-1:												var(--white-1);
$white-2:												var(--white-2);
$white-3:												var(--white-3);
$white-4:												var(--white-4);
$white-5:												var(--white-5);
$white-6:												var(--white-6);
$white-7:												var(--white-7);
$white-8:												var(--white-8);
$white-9:												var(--white-9);

/*black set*/
$black-1:												var(--black-1);
$black-2:												var(--black-2);
$black-3:												var(--black-3);
$black-4:												var(--black-4);
$black-5:												var(--black-5);
$black-6:												var(--black-6);
$black-7:												var(--black-7);
$black-8:												var(--black-8);
$black-9:												var(--black-9);

/* dark mode */
[data-theme-mode="dark"] {
	--body-bg-rgb : 									42, 46, 63;
	--body-bg-rgb2 : 									52, 56, 72;
	--menu-bg:										  	rgb(var(--body-bg-rgb));
	--menu-border-color:								rgba(255,255,255,0.1);
	--menu-label-color:									#eaecf3;
	--menu-prime-color: 								rgba(255,255,255,0.6);
	--header-bg:										rgb(var(--body-bg-rgb));	
	--header-prime-color: 								rgba(255,255,255,0.6);
	--header-border-color:								rgba(255,255,255,0.1);
	--custom-white:										rgb(var(--body-bg-rgb));
	--default-body-bg-color:							rgb(var(--body-bg-rgb2));	
	--custom-black:										#fff;		
	--default-border:									rgba(234, 236, 241, 0.1);	
	--default-text-color:       						rgba(255,255,255,0.8);
	--light-rgb:										64, 67, 83;	
	// --dark-rgb :										240 ,245 ,248; 	
	--dark-rgb :										240 ,245 ,248; 	
	--bootstrap-card-border:							rgba(255,255,255,0.1);		
	--list-hover-focus-bg:								rgba(255,255,255,0.1);
	--default-background:								rgba(255,255,255,0.1);
	--default-body-bg-color:							rgb(var(--body-bg-rgb),0.95);	
	--text-muted: 										rgba(255,255,255,0.5);
	--light-muted: 										rgb(255,255,255);
	--input-border: 									#404353;
	--form-control-bg: 									#232628;

	/* Gray Set */
    --gray-1: 										rgba(255, 255, 255, 0.1);
    --gray-2: 										rgba(255, 255, 255, 0.2);
    --gray-3: 										rgba(255, 255, 255, 0.3);	
    --gray-4: 										rgba(255, 255, 255, 0.4);
    --gray-5: 										rgba(255, 255, 255, 0.5);
    --gray-6: 										rgba(255, 255, 255, 0.6);
    --gray-7: 										rgba(255, 255, 255, 0.7);
    --gray-8: 										rgba(255, 255, 255, 0.8);
    --gray-9: 										rgba(255, 255, 255, 0.9);

	/* white set */
	--white-1:											rgba(0,0,0,0.1);
	--white-2:											rgba(0,0,0,0.2);
	--white-3:											rgba(0,0,0,0.3);
	--white-4:											rgba(0,0,0,0.4);
	--white-5:											rgba(0,0,0,0.5);
	--white-6:											rgba(0,0,0,0.6);
	--white-7:											rgba(0,0,0,0.7);
	--white-8:											rgba(0,0,0,0.8);
	--white-9:											rgba(0,0,0,0.9);
	
	/* black set */
	--black-1:											rgba(255,255,255,0.05);
	--black-2:											rgba(255,255,255,0.2);
	--black-3:											rgba(255,255,255,0.3);
	--black-4:											rgba(255,255,255,0.4);
	--black-5:											rgba(255,255,255,0.5);
	--black-6:											rgba(255,255,255,0.6);
	--black-7:											rgba(255,255,255,0.7);
	--black-8:											rgba(255,255,255,0.8);
	--black-9:											rgba(255,255,255,0.9);
}